<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>

<input #message matInput type="text" name="message" placeholder="Message" />
<input #user matInput type="text" name="user" placeholder="User" />

<button class="btn" (click)="sendMessage(message.value, user.value)">
  Send
</button>

<div>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let msg of messages">
        <td>{{ msg.getUser() }}</td>
        <td>{{ msg.getMessage() }}</td>
      </tr>
    </tbody>
  </table>
</div>
